# 1.Import Libraries and Data

In [156]:
#1.1 Import Libraries

In [157]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [158]:
#1.2 Import Data Set

In [159]:
#Create path

pd.set_option('display.max_rows', 500)

path = r"C:\Users\sahin\Documents\Owid-Covid"

In [160]:
#Import Data

df = pd.read_csv(os.path.join(path, "02-Data", "Original Data", "owid-covid-data.csv"), index_col = False)

In [161]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [162]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
166321,ZWE,Africa,Zimbabwe,2022-03-01,236871.0,491.0,413.000,5395.0,0.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166322,ZWE,Africa,Zimbabwe,2022-03-02,237503.0,632.0,416.286,5396.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166323,ZWE,Africa,Zimbabwe,2022-03-03,237503.0,0.0,362.286,5396.0,0.0,0.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166324,ZWE,Africa,Zimbabwe,2022-03-04,238739.0,1236.0,467.429,5397.0,1.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166325,ZWE,Africa,Zimbabwe,2022-03-05,239019.0,280.0,459.429,5397.0,0.0,0.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [163]:
df.shape

(166326, 67)

2.Consistency Checks and Cleaining

In [164]:
df.dtypes

iso_code                                       object
continent                                      object
location                                       object
date                                           object
total_cases                                   float64
new_cases                                     float64
new_cases_smoothed                            float64
total_deaths                                  float64
new_deaths                                    float64
new_deaths_smoothed                           float64
total_cases_per_million                       float64
new_cases_per_million                         float64
new_cases_smoothed_per_million                float64
total_deaths_per_million                      float64
new_deaths_per_million                        float64
new_deaths_smoothed_per_million               float64
reproduction_rate                             float64
icu_patients                                  float64
icu_patients_per_million                      float64
hosp_patients                                 float64
hosp_patients_per_million                     float64
weekly_icu_admissions                         float64
weekly_icu_admissions_per_million             float64
weekly_hosp_admissions                        float64
weekly_hosp_admissions_per_million            float64
new_tests                                     float64
total_tests                                   float64
total_tests_per_thousand                      float64
new_tests_per_thousand                        float64
new_tests_smoothed                            float64
new_tests_smoothed_per_thousand               float64
positive_rate                                 float64
tests_per_case                                float64
tests_units                                    object
total_vaccinations                            float64
people_vaccinated                             float64
people_fully_vaccinated                       float64
total_boosters                                float64
new_vaccinations                              float64
new_vaccinations_smoothed                     float64
total_vaccinations_per_hundred                float64
people_vaccinated_per_hundred                 float64
people_fully_vaccinated_per_hundred           float64
total_boosters_per_hundred                    float64
new_vaccinations_smoothed_per_million         float64
new_people_vaccinated_smoothed                float64
new_people_vaccinated_smoothed_per_hundred    float64
stringency_index                              float64
population                                    float64
population_density                            float64
median_age                                    float64
aged_65_older                                 float64
aged_70_older                                 float64
gdp_per_capita                                float64
extreme_poverty                               float64
cardiovasc_death_rate                         float64
diabetes_prevalence                           float64
female_smokers                                float64
male_smokers                                  float64
handwashing_facilities                        float64
hospital_beds_per_thousand                    float64
life_expectancy                               float64
human_development_index                       float64
excess_mortality_cumulative_absolute          float64
excess_mortality_cumulative                   float64
excess_mortality                              float64
excess_mortality_cumulative_per_million       float64
dtype: object

In [165]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.632930e+05,1.631330e+05,1.611500e+05,1.454510e+05,145487.000000,143390.000000,162535.000000,162375.000000,160398.000000,144706.000000,...,106050.000000,104595.000000,68569.000000,123664.000000,155268.000000,136253.000000,5.696000e+03,5696.000000,5696.000000,5696.000000
mean,2.536044e+06,1.157084e+04,1.156560e+04,5.766407e+04,171.137304,172.673031,29447.756785,166.431538,165.507110,509.384956,...,10.627229,32.778221,50.788710,3.027816,73.576309,0.725587,3.761302e+04,9.404336,15.967077,972.197816
std,1.543441e+07,8.442598e+04,8.257830e+04,3.021145e+05,832.251328,817.024076,51852.379656,683.021740,532.174029,784.551311,...,10.558306,13.523688,31.811788,2.450110,7.491615,0.149964,1.043065e+05,16.439173,30.092830,1420.342295
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1826.595723
25%,2.001000e+03,1.000000e+00,7.000000e+00,7.900000e+01,0.000000,0.143000,623.579000,0.042000,1.630000,18.580250,...,1.900000,21.600000,19.351000,1.300000,69.500000,0.602000,-7.515000e+01,-0.722500,-0.752500,-29.788442
50%,2.611700e+04,7.900000e+01,1.071430e+02,7.830000e+02,2.000000,2.429000,4731.521000,11.439000,18.829000,127.737500,...,6.300000,31.400000,49.839000,2.400000,75.050000,0.743000,3.424600e+03,6.065000,7.195000,473.393182
75%,2.987020e+05,1.063000e+03,1.146000e+03,7.307000e+03,20.000000,21.286000,37724.466000,101.289500,120.859750,711.954750,...,19.300000,41.300000,83.241000,4.000000,78.930000,0.845000,2.478462e+04,14.520000,22.997500,1656.361067
max,4.451295e+08,4.206334e+06,3.444237e+06,5.995245e+06,18020.000000,14689.143000,706541.904000,51427.491000,16052.608000,6322.263000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.080748e+06,111.010000,374.930000,9153.060433

# 2.Consistency Check and Cleaning

###Checking for columns with mixed type of data

In [166]:
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

continent
tests_units

Drop empty continent data

In [167]:
df = df[pd.notnull(df['continent'])]

###Checking for missing value

In [168]:
df.isnull().sum()

iso_code                                           0
continent                                          0
location                                           0
date                                               0
total_cases                                     3026
new_cases                                       3193
new_cases_smoothed                              5098
total_deaths                                   20662
new_deaths                                     20826
new_deaths_smoothed                            22845
total_cases_per_million                         3026
new_cases_per_million                           3193
new_cases_smoothed_per_million                  5098
total_deaths_per_million                       20662
new_deaths_per_million                         20826
new_deaths_smoothed_per_million                22845
reproduction_rate                              31320
icu_patients                                  132907
icu_patients_per_million                      132907
hosp_patients                                 131753
hosp_patients_per_million                     131753
weekly_icu_admissions                         150937
weekly_icu_admissions_per_million             150937
weekly_hosp_admissions                        145447
weekly_hosp_admissions_per_million            145447
new_tests                                      89053
total_tests                                    87115
total_tests_per_thousand                       87115
new_tests_per_thousand                         89053
new_tests_smoothed                             72335
new_tests_smoothed_per_thousand                72335
positive_rate                                  77715
tests_per_case                                 78286
tests_units                                    69984
total_vaccinations                            116404
people_vaccinated                             118611
people_fully_vaccinated                       121145
total_boosters                                142776
new_vaccinations                              124151
new_vaccinations_smoothed                      77200
total_vaccinations_per_hundred                116404
people_vaccinated_per_hundred                 118611
people_fully_vaccinated_per_hundred           121145
total_boosters_per_hundred                    142776
new_vaccinations_smoothed_per_million          77200
new_people_vaccinated_smoothed                 78510
new_people_vaccinated_smoothed_per_hundred     78510
stringency_index                               26298
population                                       317
population_density                              9216
median_age                                     19313
aged_65_older                                  20807
aged_70_older                                  20052
gdp_per_capita                                 18640
extreme_poverty                                65929
cardiovasc_death_rate                          20366
diabetes_prevalence                            13195
female_smokers                                 51094
male_smokers                                   52549
handwashing_facilities                         88575
hospital_beds_per_thousand                     33480
life_expectancy                                 1876
human_development_index                        20891
excess_mortality_cumulative_absolute          150674
excess_mortality_cumulative                   150674
excess_mortality                              150674
excess_mortality_cumulative_per_million       150674
dtype: int64

#Imputing missing values with '0'

In [169]:
df.fillna(0, inplace =True)

In [170]:
df.isnull().sum()

iso_code                                      0
continent                                     0
location                                      0
date                                          0
total_cases                                   0
new_cases                                     0
new_cases_smoothed                            0
total_deaths                                  0
new_deaths                                    0
new_deaths_smoothed                           0
total_cases_per_million                       0
new_cases_per_million                         0
new_cases_smoothed_per_million                0
total_deaths_per_million                      0
new_deaths_per_million                        0
new_deaths_smoothed_per_million               0
reproduction_rate                             0
icu_patients                                  0
icu_patients_per_million                      0
hosp_patients                                 0
hosp_patients_per_million                     0
weekly_icu_admissions                         0
weekly_icu_admissions_per_million             0
weekly_hosp_admissions                        0
weekly_hosp_admissions_per_million            0
new_tests                                     0
total_tests                                   0
total_tests_per_thousand                      0
new_tests_per_thousand                        0
new_tests_smoothed                            0
new_tests_smoothed_per_thousand               0
positive_rate                                 0
tests_per_case                                0
tests_units                                   0
total_vaccinations                            0
people_vaccinated                             0
people_fully_vaccinated                       0
total_boosters                                0
new_vaccinations                              0
new_vaccinations_smoothed                     0
total_vaccinations_per_hundred                0
people_vaccinated_per_hundred                 0
people_fully_vaccinated_per_hundred           0
total_boosters_per_hundred                    0
new_vaccinations_smoothed_per_million         0
new_people_vaccinated_smoothed                0
new_people_vaccinated_smoothed_per_hundred    0
stringency_index                              0
population                                    0
population_density                            0
median_age                                    0
aged_65_older                                 0
aged_70_older                                 0
gdp_per_capita                                0
extreme_poverty                               0
cardiovasc_death_rate                         0
diabetes_prevalence                           0
female_smokers                                0
male_smokers                                  0
handwashing_facilities                        0
hospital_beds_per_thousand                    0
life_expectancy                               0
human_development_index                       0
excess_mortality_cumulative_absolute          0
excess_mortality_cumulative                   0
excess_mortality                              0
excess_mortality_cumulative_per_million       0
dtype: int64

###Droping unnecessary columns

In [171]:
df = df.drop(columns = ['iso_code'])

In [177]:
df = df.drop(columns = ['new_cases_smoothed'])

In [179]:
df = df.drop(columns =['new_deaths_smoothed'])

In [180]:
df = df.drop(columns = ['new_cases_smoothed_per_million'])

In [182]:
df = df.drop(columns = ['new_deaths_smoothed_per_million'])

In [184]:
df = df.drop(columns = ['reproduction_rate'])

In [185]:
df.head()

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,Asia,Afghanistan,2020-02-24,5.0,5.0,0.0,0.0,0.126,0.126,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
1,Asia,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.126,0.000,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
2,Asia,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.126,0.000,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
3,Asia,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.126,0.000,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0
4,Asia,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.126,0.000,0.0,...,0.0,0.0,37.746,0.5,64.83,0.511,0.0,0.0,0.0,0.0

##Checking for duplicates

In [173]:
df[df.duplicated()]

Empty DataFrame
Columns: [continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million, new_people_vaccinated_smoothed, new_people_vaccinated_smoothed_per_hundred, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, excess_mortality_cumulative_absolute, excess_mortality_cumulative, excess_mortality, excess_mortality_cumulative_per_million]
Index: []

[0 rows x 66 columns]

##Check data types

In [174]:
df.dtypes

continent                                      object
location                                       object
date                                           object
total_cases                                   float64
new_cases                                     float64
new_cases_smoothed                            float64
total_deaths                                  float64
new_deaths                                    float64
new_deaths_smoothed                           float64
total_cases_per_million                       float64
new_cases_per_million                         float64
new_cases_smoothed_per_million                float64
total_deaths_per_million                      float64
new_deaths_per_million                        float64
new_deaths_smoothed_per_million               float64
reproduction_rate                             float64
icu_patients                                  float64
icu_patients_per_million                      float64
hosp_patients                                 float64
hosp_patients_per_million                     float64
weekly_icu_admissions                         float64
weekly_icu_admissions_per_million             float64
weekly_hosp_admissions                        float64
weekly_hosp_admissions_per_million            float64
new_tests                                     float64
total_tests                                   float64
total_tests_per_thousand                      float64
new_tests_per_thousand                        float64
new_tests_smoothed                            float64
new_tests_smoothed_per_thousand               float64
positive_rate                                 float64
tests_per_case                                float64
tests_units                                    object
total_vaccinations                            float64
people_vaccinated                             float64
people_fully_vaccinated                       float64
total_boosters                                float64
new_vaccinations                              float64
new_vaccinations_smoothed                     float64
total_vaccinations_per_hundred                float64
people_vaccinated_per_hundred                 float64
people_fully_vaccinated_per_hundred           float64
total_boosters_per_hundred                    float64
new_vaccinations_smoothed_per_million         float64
new_people_vaccinated_smoothed                float64
new_people_vaccinated_smoothed_per_hundred    float64
stringency_index                              float64
population                                    float64
population_density                            float64
median_age                                    float64
aged_65_older                                 float64
aged_70_older                                 float64
gdp_per_capita                                float64
extreme_poverty                               float64
cardiovasc_death_rate                         float64
diabetes_prevalence                           float64
female_smokers                                float64
male_smokers                                  float64
handwashing_facilities                        float64
hospital_beds_per_thousand                    float64
life_expectancy                               float64
human_development_index                       float64
excess_mortality_cumulative_absolute          float64
excess_mortality_cumulative                   float64
excess_mortality                              float64
excess_mortality_cumulative_per_million       float64
dtype: object

##Imputing missing values with '0'

In [175]:
df.fillna(0, inplace =True)

#Basic descriptive statistics

In [176]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.563700e+05,1.563700e+05,156370.000000,156370.000000,156370.000000,156370.000000,156370.000000,156370.000000,156370.000000,156370.000000,...,156370.000000,156370.000000,156370.000000,156370.000000,156370.000000,156370.000000,1.563700e+05,156370.000000,156370.000000,156370.000000
mean,6.320087e+05,2.839255e+03,2789.456647,12833.857728,38.175149,37.752018,29087.304456,165.156532,162.198191,439.504687,...,7.175530,21.753728,21.973463,2.381135,72.698532,0.628592,1.370108e+03,0.342566,0.581624,35.413690
std,3.172794e+06,1.775793e+04,16671.022856,55416.952768,181.416970,170.229783,52213.429419,692.656464,535.335880,755.380809,...,10.025238,19.022113,32.774279,2.508309,10.949896,0.283769,2.111643e+04,3.598155,6.475338,326.570698
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.772610e+04,-28.450000,-95.920000,-1826.595723
25%,1.366000e+03,0.000000e+00,4.286000,19.000000,0.000000,0.000000,492.323000,0.000000,1.077000,5.701000,...,0.000000,0.000000,0.000000,0.500000,67.940000,0.528000,0.000000e+00,0.000000,0.000000,0.000000
50%,1.856550e+04,5.400000e+01,73.000000,294.000000,0.000000,0.857000,4300.198000,8.912500,14.828000,67.155000,...,1.900000,21.400000,0.000000,1.700000,75.000000,0.718000,0.000000e+00,0.000000,0.000000,0.000000
75%,2.189800e+05,7.260000e+02,767.821250,3817.000000,10.000000,10.286000,36497.333000,95.533000,112.697000,568.980500,...,10.500000,37.100000,41.340000,3.500000,78.930000,0.823000,0.000000e+00,0.000000,0.000000,0.000000
max,7.926573e+07,1.368167e+06,802518.429000,958437.000000,4529.000000,4190.000000,706541.904000,51427.491000,16052.608000,6322.263000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.080748e+06,111.010000,374.930000,9153.060433